<a href="/">Voltar</a>
<h1>Livro: {{livro.titulo}}</h1>

<div class="cont-livro">
    <div>
        <h2>Autor: {{livro.autor}} <br> Preço: R$ {{livro.preco}}</h2>
        
        <a href="/home/livros">Voltar</a>
    </div>
</div>